@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

h1{
   text-align: center;
}

.neon-text {
    font-family: 'Pacifico', cursive;
    text-transform: uppercase;
    font-size: $extra-large;
	animation: pulsate 0.11s ease-in-out infinite alternate;    
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f09,
      0 0 80px #f09,
      0 0 90px #f09,
      0 0 100px #f09,
      0 0 150px #f09;
  }
 0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #f09,
      0 0 73px #f09,
      0 0 80px #f09,
      0 0 94px #f09,
      0 0 140px #f09;
  }
}

body {
	background:black;
}



#circle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.circle {
    float: left;
    padding-bottom: 10%;
   
    margin: 1%;
    height: 10%;
  	width: 10%;
  	border-radius: 50%;
  	display: block;

}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: yellow;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    /* browser support for transition */
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    outline: none;
}

button:hover {
 color: white;
 background: steelblue;
}
.selected {
    color: white;
    background: steelblue;
}